---
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import ContainerLayouts from "../../layouts/ContainerLayouts.astro";
import "../../styles/news.css";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body style="opacity: 0;">
    <ContainerLayouts>
      <section id="appnews-page" class="headline">
        <div class="headline__inner">
          <h2 class="headline__name">BLOG</h2>
          <p class="headline__ja">
            <span>ブログ</span>
          </p>
        </div>
      </section>
      <section class="list">
        <section class="list__inner">
          <div class="list__content" style="border-top: #383834 solid 1px;">
            <ul>
              {
                posts.map((post) => (
                  <li>
                    <a href={`/blog/${post.id}/`} class="insite">
                      <span class="list--date">
                        <FormattedDate date={post.data.pubDate} />
                      </span>
                      <span class="list--text">{post.data.title}</span>
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        </section>
        <div class="h-[81px]"></div>
      </section>
    </ContainerLayouts>
    <Footer />
  </body>
</html>
