---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, siteConfig } from "../consts";
import "../styles/news.css";
import "../styles/top.css";
import ContainerLayouts from "../layouts/ContainerLayouts.astro";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body style="opacity: 0;">
    <ContainerLayouts>
      <section class="main">
        <div class="main__inner">
          <p class="main__visual">
            <picture>
              <source
                type="image/webp"
                srcset={siteConfig.homePageImageSrc}
              /><img src={siteConfig.homePageImageSrc} width="100%" alt="" />
            </picture>
          </p>
          <div class="main__banner"></div>
        </div>
      </section>
      <section class="info">
        <div class="info__inner">
          <div class="info__news">
            <div class="news--head">
              <p class="news--head__title">FEATURED POST</p>
              <p class="news--head__more">
                <a href="/featured" class="insite">MORE</a>
              </p>
            </div>
            <div class="news--content">
              <ul>
                {
                  () => {
                    let count = 0;
                    const featuredPosts: typeof posts = [];
                    posts.forEach((post) => {
                      if (post.data.featured && count < 3) {
                        featuredPosts.push(post);
                        count++;
                      }
                    });
                    if (featuredPosts.length === 0) {
                      return <li>No featured posts available.</li>;
                    }
                    return featuredPosts.map((post) => (
                      <li>
                        <a href={`/blog/${post.id}/`} class="insite">
                          <>
                            <span class="list--date">
                              <FormattedDate date={post.data.pubDate} />
                            </span>
                            <span class="list--text">{post.data.title}</span>
                          </>
                        </a>
                      </li>
                    ));
                  }
                }
              </ul>
            </div>
          </div>

          <div class="info__news">
            <div class="news--head">
              <p class="news--head__title">LATEST POST</p>
              <p class="news--head__more">
                <a href="/blog" class="insite">MORE</a>
              </p>
            </div>
            <div class="news--content">
              <ul>
                {
                  posts.slice(0, 3).map((post) => (
                    <li>
                      <a href={`/blog/${post.id}/`} class="insite">
                        <>
                          <span class="list--date">
                            <FormattedDate date={post.data.pubDate} />
                          </span>
                          <span class="list--text">{post.data.title}</span>
                        </>
                      </a>
                    </li>
                  ))
                }
              </ul>
            </div>
          </div>
        </div>
        <div class="h-[81px] hidden md:block"></div>
      </section>
    </ContainerLayouts>
    <Footer />
  </body>
</html>
