---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import ContainerLayouts from "./ContainerLayouts.astro";

import "../styles/news.css";
import PostShare from "../components/PostShare.astro";

type PostProps = CollectionEntry<"blog">["data"];
interface Props extends PostProps {
  pageTitle?: string;
  pageTitleJa?: string;
}

const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  category,
  pageTitle,
  pageTitleJa,
} = Astro.props;
---

<html>
  <head>
    <BaseHead title={title} description={description} />
    <style>
      main {
        width: calc(100% - 2em);
        max-width: 100%;
        margin: 0;
      }
      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: var(--box-shadow);
      }
      .prose {
        color: rgb(var(--gray-dark));
        pre {
          margin: 0 0 1em 0;
        }
        h1,
        h2,
        h3 {
          font-family: "noto-sans-cjk-jp", sans-serif;
          font-weight: 700;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          font-feature-settings: "palt" 1;
          font-feature-settings: "palt" 1;
          font-size: 20px;
          letter-spacing: 0.05em;
          line-height: 1.7em;
          position: relative;
          margin-bottom: 25px;
        }
        h1::before,
        h2::before,
        h3::before {
          content: "";
          display: block;
          width: 30px;
          height: 1px;
          background-color: #383834;
          position: absolute;
          left: -40px;
          top: 17px;
        }
        h4,
        h5,
        h6 {
          font-family: "zen-kaku-gothic-antique", sans-serif;
          font-weight: 700;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          font-feature-settings: "palt" 1;
          font-feature-settings: "palt" 1;
          font-size: 20px;
          line-height: 1.5em;
          margin-bottom: 25px;
          position: relative;
        }
        h4::before,
        h5::before,
        h6::before {
          content: "";
          display: inline-block;
          width: 20px;
          height: 20px;
          border: #383834 solid 1px;
          box-sizing: border-box;
          transform: translateY(2px);
          margin-right: 15px;
        }
        p {
          margin: 0 0 1em 0;
        }
        ul {
          margin: 0 0 1em 0;
          li {
            margin: 0 0 0.5em 0;
          }
          li::before {
            content: "・";
            color: rgb(var(--gray));
          }
        }
      }
      @media screen and (max-width: 1199px) {
        .prose {
          h1,
          h2,
          h3 {
            font-family: "noto-sans-cjk-jp", sans-serif;
            font-weight: 700;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-feature-settings: "palt" 1;
            font-feature-settings: "palt" 1;
            font-size: 15px;
            font-size: calc(4vw * 10 / 16);
            letter-spacing: 0.05em;
            line-height: 1.7em;
            position: relative;
            margin-bottom: 25px;
            margin-bottom: 6.6666666667vw;
          }
          h1::before,
          h2::before,
          h3::before {
            content: "";
            display: block;
            width: 15px;
            width: 4vw;
            height: 1px;
            height: 0.2666666667vw;
            background-color: #383834;
            position: absolute;
            left: -20px;
            left: -5.3333333333vw;
            top: 10px;
            top: 2.6666666667vw;
          }
          h4,
          h5,
          h6 {
            font-family: "zen-kaku-gothic-antique", sans-serif;
            font-weight: 700;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-feature-settings: "palt" 1;
            font-feature-settings: "palt" 1;
            font-size: 15px;
            font-size: calc(4vw * 10 / 16);
            line-height: 1.5em;
            margin-bottom: 20px;
            margin-bottom: 5.3333333333vw;
            position: relative;
          }
          h4::before,
          h5::before,
          h6::before {
            content: "";
            display: inline-block;
            width: 15px;
            width: 4vw;
            height: 15px;
            height: 4vw;
            border: #383834 solid 1px;
            border: #383834 solid 0.2666666667vw;
            box-sizing: border-box;
            transform: translateY(2px);
            transform: translateY(0.5333333333vw);
            margin-right: 8px;
            margin-right: 2.1333333333vw;
          }
        }
      }
      @media screen and (max-width: 767px) {
        .prose {
          h1,
          h2,
          h3 {
            font-family: "noto-sans-cjk-jp", sans-serif;
            font-weight: 700;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-feature-settings: "palt" 1;
            font-feature-settings: "palt" 1;
            font-size: 15px;
            font-size: 4vw;
            letter-spacing: 0.05em;
            line-height: 1.7em;
            position: relative;
            margin-bottom: 25px;
            margin-bottom: 6.6666666667vw;
          }
          h1::before,
          h2::before,
          h3::before {
            content: "";
            display: block;
            width: 15px;
            width: 4vw;
            height: 1px;
            height: 0.2666666667vw;
            background-color: #383834;
            position: absolute;
            left: -20px;
            left: -5.3333333333vw;
            top: 10px;
            top: 2.6666666667vw;
          }
          h4,
          h5,
          h6 {
            font-family: "zen-kaku-gothic-antique", sans-serif;
            font-weight: 700;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-feature-settings: "palt" 1;
            font-feature-settings: "palt" 1;
            font-size: 15px;
            font-size: 4vw;
            line-height: 1.5em;
            margin-bottom: 20px;
            margin-bottom: 5.3333333333vw;
            position: relative;
          }
          h4::before,
          h5::before,
          h6::before {
            content: "";
            display: inline-block;
            width: 15px;
            width: 4vw;
            height: 15px;
            height: 4vw;
            border: #383834 solid 1px;
            border: #383834 solid 0.2666666667vw;
            box-sizing: border-box;
            transform: translateY(2px);
            transform: translateY(0.5333333333vw);
            margin-right: 8px;
            margin-right: 2.1333333333vw;
          }
        }
      }
      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
      }
      .date {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
      }
      .last-updated-on {
        font-style: italic;
      }
    </style>
  </head>

  <body style="opacity: 0;">
    <ContainerLayouts>
      {
        pageTitle && pageTitleJa && (
          <section class="headline">
            <div class="headline__inner">
              <h2 class="headline__name">{pageTitle}</h2>
              <p class="headline__ja">
                <span>{pageTitleJa}</span>
              </p>
            </div>
          </section>
        )
      }
      <section class="detail">
        <div class="detail__inner">
          <div class="detail__head">
            <p class="head--title">
              <span>{title}</span>
            </p>
            <p class="head--date">
              <FormattedDate date={pubDate} />
            </p>
            <p class="head--category"><span>{category}</span></p>
          </div>
          <div class="detail__content">
            <div class="content--text prose">
              <slot />
            </div>
          </div>
          <div class="detail__foot">
            <p class="foot--back"><a href="../" class="insite">BACK</a></p>
            <div class="foot--share">
              <p class="foot--share__title">SHARE</p>
              <PostShare shareTitle={title} />
            </div>
          </div>
        </div>
      </section>
      <main></main>
    </ContainerLayouts>
    <Footer />
  </body>
</html>
