---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import ContainerLayouts from "./ContainerLayouts.astro";

import "../styles/news.css";
import "../styles/img-links.css";
import "../styles/prose.css";
import "@fancyapps/ui/dist/fancybox/fancybox.css";
import PostShare from "../components/PostShare.astro";

type PostProps = CollectionEntry<"blog">["data"];
interface Props extends PostProps {
  pageTitle?: string;
  pageTitleJa?: string;
}

const { title, description, pubDate, category, pageTitle, pageTitleJa } =
  Astro.props;
---

<html>
  <head>
    <BaseHead title={title} description={description} />
    <style>
      main {
        width: calc(100% - 2em);
        max-width: 100%;
        margin: 0;
      }
      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: var(--box-shadow);
      }
      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
      }
      .date {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
      }
      .last-updated-on {
        font-style: italic;
      }
    </style>
  </head>

  <body style="opacity: 0;">
    <ContainerLayouts>
      {
        pageTitle && pageTitleJa && (
          <section class="headline">
            <div class="headline__inner">
              <h2 class="headline__name">{pageTitle}</h2>
              <p class="headline__ja">
                <span>{pageTitleJa}</span>
              </p>
            </div>
          </section>
        )
      }
      <section class="detail">
        <div class="detail__inner">
          <div class="detail__head">
            <p class="head--title">
              <span>{title}</span>
            </p>
            <p class="head--date">
              <FormattedDate date={pubDate} />
            </p>
            <p class="head--category"><span>{category}</span></p>
          </div>
          <div class="detail__content">
            <div class="content--text prose">
              <slot />
            </div>
          </div>
          <div class="detail__foot">
            <p class="foot--back"><a href="../" class="insite">BACK</a></p>
            <div class="foot--share">
              <p class="foot--share__title">SHARE</p>
              <PostShare shareTitle={title} />
            </div>
          </div>
        </div>
      </section>
      <main></main>
    </ContainerLayouts>
    <Footer />
  </body><script>
    import { Fancybox } from "@fancyapps/ui";
    Fancybox.bind('[data-fancybox="gallery"]', {
      // Your custom options for a specific gallery
    });
  </script>
</html>
