---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import FooterShare from "../components/FooterShare.astro";

const menuLinks = [
  { name: "FEATURED", nameJa: "特集", path: "/featured" },
  { name: "BLOG", nameJa: "ブログ", path: "/blog" },
  { name: "ABOUT", nameJa: "について", path: "/about" },
];

interface Props {
  shareTitle?: string;
}
const { shareTitle } = Astro.props;
---

<div id="pagetop"></div>
<div class="contentWrapper">
  <div class="container grow">
    <header class="header">
      <div class="header__inner">
        <h1 class="">
          <a href="../" class="insite">
            <p>{SITE_TITLE}</p>
            <p>{SITE_DESCRIPTION}</p>
          </a>
        </h1>
        <p class="header__date"></p>
        <p class="header__ham">
          <a href="#"><span></span><span></span><span></span></a>
        </p>
      </div>
    </header>
    <slot />
    <footer class="footer">
      <div class="footer__inner">
        <div class="footer__block">
          <div class="footer__sns">
            <ul>
              <li>
                <a href="#" target="_blank"><span>MASTODON</span></a>
              </li>
              <li>
                <a href="#" target="_blank"><span>TWITTER</span></a>
              </li>
              <li>
                <a href="#" target="_blank"><span>GITHUB</span></a>
              </li>
            </ul>
          </div>
          <FooterShare />
        </div>
      </div>
    </footer>
    <div id="pageup">
      <a href="#pagetop"><span><strong>▲</strong><br />TOP</span></a>
    </div>
  </div>
  <aside id="side" class="side size--vh grow">
    <div class="side__inner">
      <nav class="side__nav">
        <ul>
          {
            menuLinks.map((link) => (
              <li
                class={`${Astro.url.pathname.startsWith(link.path) ? "is--current" : ""}`}
              >
                <a href={link.path} class="insite">
                  <span class="nav--en">{link.name}</span>
                  <span class="nav--ja">{link.nameJa}</span>
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
      <div class="side__desc"></div>
    </div>
  </aside>
</div>

<script>
  import gsap from "gsap";
  let showMenu = false;
  const ham = document.querySelector(".header__ham");
  const side = document.querySelector("#side");
  ham?.querySelector("a")?.addEventListener("click", () => {
    showMenu = !showMenu;
    if (showMenu) {
      gsap.to(side, {
        duration: 0.2,
        opacity: 1,
        display: "block",
        onStart: () => ham?.classList.add("is--open"),
      });
    } else {
      gsap.to(side, {
        duration: 0.2,
        opacity: 0,
        display: "none",
        onStart: () => ham?.classList.remove("is--open"),
      });
    }
  });
</script>
