---
import { SITE_TITLE, SITE_DESCRIPTION, siteConfig } from "../consts";
import FooterShare from "../components/FooterShare.astro";
import { menuLinks } from "../consts";

interface Props {
  shareTitle?: string;
}
const { shareTitle } = Astro.props;
---

<div id="pagetop"></div>
<div class="contentWrapper">
  <div class="container">
    <header class="header">
      <div class="header__inner">
        {
          siteConfig.logoSrc ? (
            <h1 class="header__logo">
              <a href="../" class="insite">
                <img src={siteConfig.logoSrc} height="81" alt="site logo" />
              </a>
            </h1>
          ) : (
            <h1 class="header__title">
              <a href="/">
                <p>{SITE_TITLE}</p>
              </a>
            </h1>
          )
        }
        <p class="header__date"></p>
        <p class="header__ham">
          <a href="#"><span></span><span></span><span></span></a>
        </p>
      </div>
    </header>
    <slot />
    <footer class="footer">
      <div class="footer__inner">
        <div class="footer__block">
          <div class="footer__sns">
            <ul>
              <li>
                <a href="#" target="_blank"><span>MASTODON</span></a>
              </li>
              <li>
                <a href="#" target="_blank"><span>TWITTER</span></a>
              </li>
              <li>
                <a href="#" target="_blank"><span>GITHUB</span></a>
              </li>
            </ul>
          </div>
          <FooterShare />
        </div>
      </div>
    </footer>
    <div id="pageup">
      <a href="#pagetop"><span><strong>▲</strong><br />TOP</span></a>
    </div>
  </div>
  <aside id="side" class="side size--vh">
    <div class="side__inner">
      <nav class="side__nav">
        <ul>
          {
            menuLinks.map((link) => (
              <li
                class={`${Astro.url.pathname.startsWith(link.path) ? "is--current" : ""}`}
              >
                <a href={link.path} class="insite">
                  <span class="nav--en">{link.name.toUpperCase()}</span>
                  <span class="nav--ja">{link.nameJa}</span>
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
      <div class="side__desc"></div>
    </div>
  </aside>
</div>

<script>
  import gsap from "gsap";
  let showMenu = false;
  const ham = document.querySelector(".header__ham");
  const side = document.querySelector("#side");
  ham?.querySelector("a")?.addEventListener("click", () => {
    showMenu = !showMenu;
    if (showMenu) {
      gsap.to(side, {
        duration: 0.2,
        opacity: 1,
        display: "block",
        onStart: () => ham?.classList.add("is--open"),
      });
    } else {
      gsap.to(side, {
        duration: 0.2,
        opacity: 0,
        display: "none",
        onStart: () => ham?.classList.remove("is--open"),
      });
    }
  });
</script>
